﻿<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Meeting Generator</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="portail">Portail</label>
                    <select formControlName="portail" class="form-control dropdown" [ngClass]="{ 'is-invalid': submitted && f.portail.errors }">
                        <option selected disabled value=''> -- Select a portail -- </option>
                        <option *ngFor="let log of defaultLogin" [ngValue]="log.portail">{{log.portail}}</option>
                        <div *ngIf="submitted && f.portail.errors" class="invalid-feedback">
                            <div *ngIf="f.portail.errors.required">Portail is required</div>
                        </div>
                    </select>
                </div>
                <div class="form-group">
                    <label for="apikey">API Key</label>
                    <input type="apikey" formControlName="apikey" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.apikey.errors }" />
                    <div *ngIf="submitted && f.apikey.errors" class="invalid-feedback">
                        <div *ngIf="f.apikey.errors.required">API Key is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>

                
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
            </form>
        </div>
    </div>
</div>