﻿<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">You are connected</h4>
        <div class="card-body">
            <form [formGroup]="homeForm">
                <div class="form-group">
                    <label for="site">Site</label>
                    <select formControlName="site" class="form-control dropdown" [ngClass]="{ 'is-invalid': submitted && f.site.errors }">
                        <option selected disabled value=""> -- Select a site -- </option>
                        <option *ngFor="let city of mySites" [ngValue]="city.siteId">{{city.description}}</option>
                        <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                            <div *ngIf="f.site.errors.required">Site is required</div>
                        </div>
                    </select>
                </div>
                <div class="form-group">
                    <p>
                        <mat-form-field>
                            <input matInput [matDatepicker]="dp3" formControlName="startDate" [min]="this.meetingservice.minDate" placeholder="Choose a start date" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                            <div *ngIf="submitted && f.site.errors" class="invalid-feedback">
                                <div *ngIf="f.site.errors.required">Site is required</div>
                            </div>
                        </mat-form-field>
                    </p>
                </div>
                <div *ngIf="this.messageRoomsFound" class="alert alert-secondary">{{this.messageRoomsFound}}</div>
                <div class="form-group">
                    <button (click)="createMeetings()" class="btn btn-outline-secondary">
                        <span *ngIf="loadingCreate" class="spinner-border spinner-border-sm mr-1"></span>
                        Create meetings
                    </button>
                </div>
                <div *ngIf="messageMeetingsCreatedSuccess" class="alert alert-success">{{messageMeetingsCreatedSuccess}}</div>
                <div *ngIf="messageMeetingsCreatedFail" class="alert alert-danger mt-3 mb-0">{{messageMeetingsCreatedFail}}</div>

                <div class="form-group">
                    <button (click)="deleteMeetings()" class="btn btn-outline-secondary">
                        <span *ngIf="loadingDelete" class="spinner-border spinner-border-sm mr-1"></span>
                        Delete meetings
                    </button>
                </div>
                <div *ngIf="messageMeetingsDeletedSuccess" class="alert alert-success">{{messageMeetingsDeletedSuccess}}</div>
                <div *ngIf="messageMeetingsDeletedFail" class="alert alert-danger mt-3 mb-0">{{messageMeetingsDeletedFail}}</div>
            </form>
        </div>
    </div>
</div>